input {
    margin: 5px;
}

.user-card-details {
    text-align: center;
    margin-top: 30px;
}

.user-card-details p {
    margin-top: 20px;
}

.create-user-btn {
    width: 50%;
}

.create-user-btn:hover {
    opacity: 100%;
    transform: scale(1.1);
}

.create-user-card {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    min-height: 350px;
}

.user-card {
    max-width: 350px;
    text-align: center;
    margin-bottom: 30px;
}

.form-control {
    display: block;
    width: 80%;
    border: 1px solid #ebebeb;
    padding: 11px 20px;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: bold;
    font-size: 13px;
}

.form-con {
    margin: 20px;
}

.form {
    display: grid;
    grid-template-columns: auto auto;
}

.sub-forms {
    display: none;
}

.mt-30 {
    margin-top: 30px;
}

hr {
    border: solid 1px #80808082;
}

.mb-30 {
    margin-bottom: 30px;
}

.is-invalid {
    color: red;
    margin-bottom: 5px;
}

.error-field {
    border: solid 1px red !important;
}