body {
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	min-height: 100vh;
	height: 100%;
	background-image: url("../../images/landing-page.png") !important;
}

input {
	font-family: inherit;
}

*,
::before,
::after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: currentColor;
}

.box {
	display: flex;
	flex-flow: row;
	min-height: 100vh;
	height: fit-content;
}

.box .header {
	flex: 0 1 auto;
	width: 100%;
}

.container {
	width: 100%;
}

@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}

@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}

@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}

@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
}

.bottom-0 {
	bottom: 0;
}

.mx-2 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.mb-1 {
	margin-bottom: 0.25rem;
}

.flex {
	display: flex;
}

.table {
	display: table;
}

.h-screen {
	height: 100vh;
}

.flex-col {
	flex-direction: column;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.p-4 {
	padding: 1rem;
}

.px-6 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.py-6 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.font-bold {
	font-weight: 700;
}

.text-gray-300 {
	--tw-text-opacity: 1;
	color: rgba(209, 213, 219, var(--tw-text-opacity));
}

@media (min-width: 1024px) {
	.lg\:px-20 {
		padding-left: 5rem;
		padding-right: 5rem;
	}
}

.grid-container {
	display: grid;
	padding: 10px;
}

.cols-3 {
	grid-template-columns: auto auto auto;
}

.cols-2 {
	grid-template-columns: auto auto;
}

.card {
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
	margin: auto;
	padding: 10px;
	overflow: hidden;
	background: #f5f5f5;
	border-radius: 10px;
}

.details {
	position: absolute;
	width: 40%;
	height: 100%;
	top: 10%;
	left: 60%;
}

.details p {
	font-size: 1.2em;
	color: #4e4e4e;
	margin-top: 10px;
	font-weight: bolder;
}

table {
	width: 100%;
	margin-bottom: 1rem;
	border: 1px solid #dee2e6;
}

th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
	padding: 0.75rem;
}

td {
	padding: 0.75rem;
	border: 1px solid #dee2e6;
	text-transform: capitalize;
}

.btn {
	padding: 10px;
	display: inline-block;
	outline: 0;
	border: 0;
	margin-top: 30px;
	font-family: inherit;
	font-weight: bolder;
	background-color: #3651d4;
	color: white;
	border-radius: 5px;
	transition: all 0.3s;
	font-size: 1rem;
	width: 100%;
}

.btn:hover {
	opacity: 80%;
}

button {
	cursor: pointer;
}

.buttons {
	top: 70%;
}

.is-invalid {
	color: red;
	margin-bottom: 5px;
}

.error-field {
	border: solid 1px red !important;
}
