* {
  margin: 0;
  padding: 0;
}

.main-container {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  height: 70%;
  width: 80%;
  font-family: inherit;
  font-size: 1vw;
  margin-left: 10%;
}

.content-container {
  margin-left: 15%;
  margin-right: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80%;
  align-items: center;
}

.event {
  font-weight: bold;
}

.dates {
  justify-self: end;
}

.save-button {
  margin-top: 2%;
  grid-column: 2/3;
  justify-self: end;
  align-self: end;
}

.sv-button {
  padding: 10px;
  border: 2px solid lime;
  border-radius: 4px;
  background-color: #fff;
  color: lime;
  width: 7rem;
  font-size: 1vw;
}
