* {
  margin: 0;
  padding: 0;
}

.main-container {
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.leftside {
  width: 60%;
  display: flex;
  flex-direction: column;
}



.timeline {
  height: 20%;
  max-width: 100%;

}

.progress-bar-container {
  position:relative;
  width: 100%;
  margin: auto;
  height: 100px;
  margin-top: 10%;
}

.progress-bar-container ul{
  padding: 0;
  margin: 0;
  padding-top: 15px;
  z-index: 9999;
  position: absolute;
  width: 100%;
  margin-top: -40px;
}

.progress-bar-container li:before {
  content: "";
  display: block;
  margin: auto;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: solid 2px lightgrey;
  transition: all ease 0.3s;
}

.progress-bar-container li:hover:before {
  background: lime;
}

.progress-bar-container li {
  list-style: none;
  float: left;
  width: 25%;
  text-align: center;
  font-family: inherit;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: all ease 0.2s;
  vertical-align: bottom;
  position: relative;
}

.progress-bar-container li .step-inner {
  position: absolute;
  width: 100%;
  margin-top: 5%;
}

.progress-bar-container li:hover {
  color: lime;
}

/* .progress-bar-container li:after {
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  margin: auto;
  border: solid 2px white;
  border-radius: 50%;
  margin-top: 40px;
  box-shadow: 0 2px 13px -1px rgb(0,0,)
  transitionall ease 0.2s;
} */

/* .progress-bar-container li:hover:after {
  background: lime;
} */

.progress-bar-container .line {
  width: 80%;
  margin: auto;
  /* margin-left: 5%; */
  background: #eee;
  height: 5px;
  position: absolute;
  left: 10%;
  z-index: 1;
  border-radius: 50px;
  transition: all ease 0.9s;
}



.description {

  height: 80%;
  border-top: 2px solid lightgrey;
}

.description h3{
  margin-top: 5%;
  margin: 5%;
}

.description p{
  margin-top: 5%;
  margin: 5%;
}

.rightside-1 {
  height: 100%;
  width: 20%;
  text-align: center;
  border-left: 2px solid lightgrey;
  border-right: 2px solid lightgrey;
}

.rightside-1 h3 {
  margin-top: 5%;
}

.rightside-2 {
  width: 20%;
  text-align: center;
}

.rightside-2 h3 {
  margin-top: 5%;
}
